
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full py-2">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-35 ring-offset-1 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Target URL</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title Tag</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Short URL</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <tr>
              <td class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">https://example.com</td>
              <td class="px-3 py-4 text-sm text-gray-500">Example Site</td>
              <td class="px-3 py-4 text-sm text-gray-500"><span class="px-3 py-2 rounded-lg bg-slate-500 text-white ">abc123</span></td>
            </tr>
            <!-- More rows... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
