<div class="pt-52 md:pt-72 content-center space-y-5 max-w-lg mx-auto">
  <h1 class="font-bold text-4xl text-center">Welcome to Wei Hup's URL Shortener</h1>
  <div class="flex justify-center space-x-4">
    <%= link_to "Sign Up", signup_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <%= link_to "Log In", login_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>